*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.warraper{
    margin-left: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
h2{
   
    color: #3452eb;
}
h2 span{
    color: #34ebb7;
   
}

.logo{
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.warraper img{
    background-image: url(static\img\ivan-bandura-5cwigXmGWTo-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
}